table.emc-table {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    table-layout: auto;
}

table.emc-table > thead > tr {
    height : 40px;
}

table.emc-table > thead > tr > td > span {
    font-size: 16px;
    line-height: 30px;
    margin-left: 10px;
}

table.emc-table > thead > tr > td > div.left,
table.emc-table > thead > tr > td > div.right {
    display: inline;
}

table.emc-table > thead > tr > td > div.left > .btn-group.selection > button:first-child {
    margin: 0;
    padding: 1px 10px 0;
    font-size: 18px;
}

table.emc-table > thead > tr > td > div.right {
    float: right;
}

table.emc-table > thead > tr > td > div.right > div {
    display: inline-table;
    vertical-align: top;
}

#table_full-table thead > tr > td > div > * {
    display: inline-table;
    vertical-align: top;
}

table.emc-table > thead > tr > td > div > .export {
    margin-left: 20px;
}

table.emc-table > thead > tr > td > div > div > ul > li {
    cursor: pointer;
}

table.emc-table > thead > tr > td > div > .export > ul > li > a > span {
    margin-left: 10px;
}

table.emc-table > thead > tr > td > div > .filter {
    width: 224px;
}

table.emc-table > thead > tr > td > div > .filter > span {
    background: none repeat scroll 0 0 transparent;
    border-radius: 15px 0 0 15px;
    padding: 5px;
}

table.emc-table > thead > tr > td > div > .filter > input {
    display: inline;
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
    border-radius: 15px;
    border-left: medium none;
    z-index: 1;
}

table.emc-table > thead > tr > th.sortable {
    cursor: pointer;
}

table.emc-table > thead > tr > th.sortable > div.dropdown > span.caret {
    color: #CCCCCC;
}

table.emc-table > thead > tr > th.sortable.sort > div.dropdown > span.caret {
    color: #000000;
}

table.emc-table > tbody > tr[data-subtable] {
    cursor: pointer;
}

table.emc-table > tbody > tr.subtable > td {
    padding: 20px;
}

table.emc-table > tbody > tr > td {
    vertical-align: middle;
    
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

table.emc-table > tbody > tr > td.actions {
    text-align: right;
}

table.emc-table > tfoot > tr {
    height : 30px;
}

table.emc-table > tfoot > tr > td {
    background: transparent;
    text-align: center;
}

table.emc-table > tfoot > tr > td > div {
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: inline;
}

table.emc-table > tfoot > tr > td > button.btn-default {
    float: left;
}

table.emc-table > tfoot > tr > td > .bootstrap-select {
    float: right !important;
}

table.emc-table > tfoot > tr > td > .bootstrap-select > button {
    height : 28px;
}

table.emc-table > tfoot > tr > td > ul.pagination {
    margin: 0;
}

table.emc-table > tfoot > tr > td > ul.pagination > li > a {
    cursor: pointer;
}

table.emc-table > tfoot > tr > td > ul.pagination > li.previous > span,
table.emc-table > tfoot > tr > td > ul.pagination > li.next > span {
    background-color: #EEEEEE;
    color: #AAAAAA;
    cursor: not-allowed;
}